body {
    background-color: #f0f0f0;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

header {
    background-color: #367b90;
    color: #fff;
    padding: 20px 0;
    }

footer {
    background-color: #367b90;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
}